.search-box {
  position: absolute;
  background-color: #f9f9f9; /* Cambia el color de fondo */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px; /* Mayor padding para un diseño más espacioso */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* Para que los elementos se apilen verticalmente */
  gap: 10px; /* Espacio entre los elementos */
  width: 100px; /* Ancho predeterminado para pantallas grandes */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  /* Cambia el tamaño según tu diseño */
  .search-box {
    width: 120px; /* Ancho para pantallas pequeñas */
    top: 111px; /* Ajusta según sea necesario */
    right: 15px; /* Ajusta según sea necesario */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 769px) {
  /* Cambia el tamaño según tu diseño */
  .search-box {
    width: 200px; /* Ancho para pantallas grandes */
    top: 70px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
  }
}

.search-box input {
  border: 1px solid #ccc; /* Cambia el borde del input */
  border-radius: 5px;
  padding: 10px; /* Mayor padding para comodidad al escribir */
  outline: none; /* Quitar el contorno al enfocar */
}

.search-box input::placeholder {
  color: #aaa; /* Color del texto del placeholder */
}

.search-box button {
  padding: 10px; /* Aumenta el padding para que sea más fácil de hacer clic */
  background-color: #f0c040; /* Cambia el color de fondo según tu tema */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white; /* Color del texto del botón */
}

.search-box button:hover {
  background-color: #e0b030; /* Color del botón al pasar el mouse */
}
