.logout-button {
    background-color: #ff4d4d; /* Color de fondo rojo */
    color: white; /* Color del texto blanco */
    border: none; /* Sin bordes */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Efecto de transición */
  }
  
  .logout-button:hover {
    background-color: #e60000; /* Cambiar el color al pasar el mouse */
  }

  .filters {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
  }
  
  .filter-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  